:root {
  --white: #fff;
  --black: #000;

  --gray: #72767a;
  --gray-light: #f3f3f3;
  --gray-blue: #697784;
  --blue: #479be9;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 16px;
  background-color: black;
  line-height: 1.6;
  letter-spacing: 2px;
}

.container {
  width: 1172px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid var(--gray-blue);
}

.card {
  display: flex;
  column-gap: 20px;
  padding: 15px 15px 20px;
  margin-bottom: 15px;
  border: 3px solid var(--gray-blue);
  border-radius: 15px;
  position: relative;
}

.btn {
  background-color: transparent;
  color: var(--gray-blue);
  border: 2px solid var(--gray-blue);
  border-radius: 8px;

  font-weight: bold;
  font-size: 14px;

  padding: 5px 10px;
  position: absolute;
  top: 12px;
  right: 12px;

  cursor: pointer;
}

.btn:active {
  top: 14px;
  right: 14px;
}

.ava__box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.ava__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.contant__name {
  font-size: 20px;
  font-weight: bold;
}

.contant__username {
  font-size: 16px;
  color: var(--gray);
}

.contant__company {
  color: var(--gray);
  font-weight: bold;
}

.contant__title {
  font-size: 14px;
  color: var(--gray-blue);
  font-weight: bold;
  text-transform: uppercase;
}

.contant__title-text {
  font-weight: normal;
  text-transform: capitalize;
  font-variant: normal;
}

.loader {
  /* border: 6px solid var(--gray-light); */
  border-top: 6px solid var(--blue);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
